

{% extends 'base.html'%}
{% block content%}
{% load static %}
{% comment %} <button onclick="opencamera()">open camera</button> {% endcomment %}
<style>
    .headeritem{
        color:white;
    }
</style>
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  
    <div class="collapse navbar-collapse mynav" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link headeritem" href="{% url 'userhome' %}"  >Home</a>
         
        </li>
        <li class="nav-item" >
          <a class="nav-link headeritem" href="{% url 'showuser' %}" >video</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link headeritem" href="{% url 'signout' %}" >logout</a>
          </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>  {% endcomment %}
      </ul>
      <form class="form-inline my-2 my-lg-0" style="display:flex; margin:3rem">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit">Search</button>
      </form>
    </div>
  </nav>
<center>
<div id="coverScreen"  class="LockOn">
    <img src={% static '/images/Loading_icon.gif'%} id='loadimg'>
</div>

{% comment %} <div id="load">

</div> {% endcomment %}
<div id='video'>
<img id="demo" src = "{% url 'emotion_detector' %}" style="border-radius: 5rem; margin-top: 2rem;"><br>
{% comment %} <button onclick="video_off()">video off</button> {% endcomment %}
</div>
</center>
{% comment %} <h1>hello {{name}}!!!!!!</h1> {% endcomment %}
{%endblock%}