{% extends 'base.html' %}
{%block content%}
<!-- Section: Design Block -->

<div>
<section class="background-radial-gradient overflow-hidden">
  
    <div class="container px-4 py-3 px-md-5 text-center text-lg-start my-4">
      <div class="row gx-lg-5 align-items-center" style="margin-bottom:4.1rem;">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            you are<br />
            <span style="color: hsl(218, 81%, 75%)">what you listen</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form method="post">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                {% comment %} <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      {{form.username}}
                      <label class="form-label" for="form3Example1">username</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      {{form.email}}
                      <label class="form-label" for="form3Example2">Email</label>
                    </div>
                  </div>
                </div> {% endcomment %}
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  {% comment %} <input type="email" id="form3Example3" class="form-control" /> {% endcomment %}
                  <label class="form-label" for="form3Example3">Enter Username</label>
                  {{form.username}}
                  
                </div>
                <br>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  {% comment %} <input type="password" id="form3Example4" class="form-control" /> {% endcomment %}
                  <label class="form-label" for="form3Example4">Enter Password</label>
                  {{form.password}}
                  
                </div>
  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  {% comment %} <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label> {% endcomment %}
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Sign in
                </button>
  
                <!-- Register buttons -->
                <div class="text-center">
                  <a href="{% url 'signup' %}">or sign up</a>
                  {% comment %} <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button> {% endcomment %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <!-- Section: Design Block -->
{% endblock  %}

{% comment %} <form method ='post'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value = "Submit">
</form>
 
<h3>Already Have an Account??</h3>
<a href = "{% url 'signin' %}">Sign In Here</a> {% endcomment %}